.pop-up {
  position: absolute;
  top: 20%;
  left: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
  color: #000000;
  background-color: #FFFFFF;
  transform: translateX(-50%);
}


.close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 39px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #7FAFF6;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}


#popUp:target {
  display: flex;
}

