.header {
  width: 100%;
  min-height: 100px;
  margin-bottom: 15px;
  background-color: #7FAFF7;
}

.button {
  display: inline-block;
  margin-top: 30.5px;
  margin-left: 30px;
  padding: 8px 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background: #A5C7F9;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
}

